* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ecf0f5;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(31, 30, 28);
}

a:hover {
    color: rgb(231, 187, 41);
}

.list-page {
    display: flex;
    background-color: #ecf0f5;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

.list-page_title {
    align-self: center;
    margin-top: 30px;
    letter-spacing: 1rem;
}

.list-page_title p {
    letter-spacing: 0.2rem;
    color: rgb(245, 177, 89);
}

.list-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    gap: 1rem;
}

.list-page__item {
    background-color: #ffffff;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    border-radius: 5px;
    /* border: solid 1.5px #424747; */
    -webkit-box-shadow: 4px 3px 3px -1px rgba(163, 163, 163, 0.6);
    box-shadow: 4px 3px 3px -1px rgba(163, 163, 163, 0.6);
}

.list-page__item-div {
    background-color: #f5f5f5;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    width: 100%;
    padding: 5px;
}

.list-page__item-p {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 5px;
    color: rgb(245, 177, 89);
}

.list-page__item-div-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-right: 20px;
}

.div-loader {
    align-self: center;
    margin-bottom: 100px;
    border: 3px solid #ffffff;
    border-top: 3px solid #5e5e5e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}